<div id="contact" class="contact">
  <div class="contact-section">
    <h2>Say Hi!</h2>
    <div class="form-container">
      <h4>Want to discuss a new project?</h4>
      <p>Say hello! let's discuss your ideas and make it happen</p>
      <div class="form-input">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">


          <div class="input-container">
            <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required/>
            <span *ngIf="!name.valid && name.touched && !name.disabled" class="validation-error-input">!</span>
            <span *ngIf="name.valid && name.touched && !name.disabled" class="validation-success-input">✔</span>
            <div *ngIf="!name.valid && name.touched && !name.disabled">
              <span style="color: red; font-family: overpass;">Your email is required</span>
            </div>
          </div>



          <div class="input-container">
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required/>
            <span *ngIf="!email.valid && email.touched && !email.disabled" class="validation-error-input">!</span>
            <span *ngIf="email.valid && email.touched && !email.disabled" class="validation-success-input">✔</span>
            <div *ngIf="!email.valid && email.touched && !email.disabled">
              <span style="color: red; font-family: overpass;">Your email is required</span>
            </div>
          </div>



          <div class="input-container">
            <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" required></textarea>
            <span *ngIf="!message.valid && message.touched && !message.disabled" class="validation-error">!</span>
            <span *ngIf="message.valid && message.touched && !message.disabled" class="validation-success">✔</span>
            <div *ngIf="!message.valid && message.touched && !message.disabled">
              <span style="color: red; font-family: overpass;">Your message is empty</span>
            </div>
          </div>
          <div class="checkbox-container">
            <div><input type="checkbox" id="subscribe" name="subscribe" required/></div>
            <label for="subscribe">I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</label>
          </div>
          <div class="submit">
            <button type="submit" value="submit" >Send message</button>
            <div class="scroll-up">
              <a href="#landingpage">
                <img src="assets/img/arrow-up.png" alt="scroll-up" />
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="logo-icons">
        <div class="logo-user">
          <a href="#landingpage"><img src="assets/footer/logo-footer.png" alt="logo-footer"></a> 
          <span>&copy; Johannes Linnecke 2024</span>
        </div>
        <div class="socials">
          <a href="https://github.com/JLinnecke?tab=repositories" target="_blank"><img src="assets/footer/git.png" alt="git hub"></a> <!-- neuer tabb muss sich öffnen -->
          <a href="#contact"><img src="assets/footer/mail.png" alt="mail"></a> 
          <a href="https://www.linkedin.com/in/johannes-linnecke-b92251337/" target="_blank"><img src="assets/footer/linkedin.png" alt="linkedin"></a> 
        </div>
        
      </div>

    </div>
     <app-footer></app-footer>
  </div>
</div>
