<div id="contact" class="contact">
  <div class="contact-section">
    <h2>Say Hi!</h2>
    <div class="form-container">
      <h4 [ngClass]="{'de-language': currentLanguage === 'de'}">{{'DISCUSS' | translate}}</h4>
      <p [ngClass]="{'de-language': currentLanguage === 'de'}">{{ 'SAY_HELLO' | translate }}</p>
      <div class="form-input">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">


          <div class="input-container">
            <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name" type="text" id="name" name="name"
              placeholder="Your name" required />
            <span *ngIf="!name.valid && name.touched && !name.disabled" class="validation-error-input">!</span>
            <span *ngIf="name.valid && name.touched && !name.disabled" class="validation-success-input">✔</span>
            <div *ngIf="!name.valid && name.touched && !name.disabled" style="margin-top: 8px;">
              <span style="color: red; font-family: overpass;">Your email is required</span>
            </div>
          </div>



          <div class="input-container">
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
              placeholder="Your email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
            <span *ngIf="!email.valid && email.touched && !email.disabled" class="validation-error-input">!</span>
            <span *ngIf="email.valid && email.touched && !email.disabled" class="validation-success-input">✔</span>
            <div *ngIf="!email.valid && email.touched && !email.disabled" style="margin-top: 8px;">
              <span style="color: red; font-family: overpass;">Your email is required</span>
            </div>
          </div>



          <div class="input-container">
            <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message"
              placeholder="Your message" required></textarea>
            <span *ngIf="!message.valid && message.touched && !message.disabled" class="validation-error">!</span>
            <span *ngIf="message.valid && message.touched && !message.disabled" class="validation-success">✔</span>
            <div *ngIf="!message.valid && message.touched && !message.disabled" style="margin-top: 8px;">
              <span style="color: red; font-family: overpass;">Your message is empty</span>
            </div>
          </div>







          <div class="checkbox-container">
            <div class="hover-checkbox"><input type="checkbox" id="subscribe" name="subscribe" ngModel required
                #subscribe="ngModel" /></div>
            <label [ngClass]="{'de-language': currentLanguage === 'de'}">{{'PRIVACY_1' | translate}}<a
                [ngClass]="{'de-language': currentLanguage === 'de'}" [routerLink]="['/privacy-policy']">{{'PRIVACY_2' |
                translate}}</a> {{'PRIVACY_3' | translate}}</label>
            <div *ngIf="subscribe.invalid && subscribe.touched" class="validation-error-privacy">
              <span>Please accept the privacy policy.</span>
            </div>
          </div>





          <div class="submit">
            <button type="submit" [disabled]="!contactForm.valid" value="submit">Send message</button>
            <div class="scroll-up">
              <a href="#landingpage">
                <img src="assets/img/arrow-up.png" alt="scroll-up" />
              </a>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="emailSent" class="popup">
        <div class="popup-content">
          <p>Email successfully sent!</p>
          <button (click)="closePopup()">Close</button>
        </div>
      </div>





    </div>
    <app-footer></app-footer>
  </div>
</div>