<div class="main-content">
    <h1>Frontend Developer</h1>
    <div class="subheadline-section">
      <div class="subheadline"></div>
      <div class="name"><span>Johannes Linnecke</span></div>
    </div>
    <div class="short-info">
      <div class="rotate-mail"><a>jlinnecke&#64;gmail.com</a></div>
      <div class="scroll-info-animation">
          <img class="arrow-animation" src=".7../../../../assets/img/arrow-down.png" alt="scroll-down">
          <span>Scroll Down</span>
      </div>
      
    </div>
  </div>