.main-content {
  width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h1 {
    font-family: syne;
    font-size: 128px;
    font-weight: 800;
    line-height: 128px;
    text-align: center;
  }
}

.subheadline-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  .subheadline {
    border-top: 3px solid black;
    width: 480px;
  }
  .name {
    font-family: syne;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #00bc8f;
  }
}

.short-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin-top: 50px;
 
  .rotate-mail {
    a {
      text-decoration: none;
      color: black;
      transform: rotate(-90deg);
      display: inline-block;
      transform-origin: top left;
      margin-top: 220px;
      margin-left: 8px;
      font-family: overpass;
      font-weight: 300;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .scroll-info-animation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    span {
      width: 57px;
      font-family: overpass;
      font-weight: 300;
      font-size: 22px;
      text-align: center;
    }
  }
}

@keyframes flyInAndOut {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.arrow-animation {
  animation: flyInAndOut 1.5s ease-in-out infinite;
}

//////////////////////////

@media (max-width: 1260px) {
  .main-content {
    width: 100%;
    height: 100vh;
    h1 {
      font-size: 100px;
      line-height: 78px;
    }
    .subheadline-section {
      gap: 16px;
      margin-bottom: 80px;
      width: 70%;
      .subheadline {
        width: 100%;
      }
      .name {
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
}

@media (max-width: 920px) {
  .main-content {
    h1 {
      font-size: 70px;
      line-height: 70px;
    }
    .subheadline-section {
      gap: 16px;
      margin-bottom: 80px;
      .subheadline {
        width: 100%;
      }
      .name {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}

@media (max-width: 600px) {
  .main-content {
    h1 {
      font-size: 50px;
      line-height: 50px;
    }
    .subheadline-section {
      gap: 16px;
      margin-bottom: 80px;
      .subheadline {
        width: 100%;
      }
      .name {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 480px)  {
  .main-content {
    width: 100%;
    h1 {
      font-size: 35px;
      line-height: 35px;
    }
    .subheadline-section {
      gap: 16px;
      margin-bottom: 80px;
      .subheadline {
        width: 100%;
      }
      .name {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  .short-info {
    display: flex;
    justify-content: space-around;
    .rotate-mail {
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 340px) {
  .main-content {
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    .subheadline-section {
      gap: 16px;
      margin-bottom: 80px;
      .subheadline {
        width: 100%;
      }
      .name {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
  .short-info {
    .scroll-info-animation {
      span {
        font-size: 16px;
      }
    }
  }
}