.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 92px;
    margin: 0 auto;
    .header-logo {
    
        img {
            width: 80px;
            height: 80px;
        }
    }
    .header-burger-menu {
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}

@media (max-width: 420px) {
    .header {
        width: 100%;
        margin-bottom: 151px;
        .header-logo {
            img {
                margin-left: 16px;
            }
        }
    }
    .header-burger-menu {
        button {
            margin-right: 16px;
        }
    }
    
}
