.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #fffcf3; /* Hintergrundfarbe hinzufügen */
  transition: opacity 0.3s ease;

  &.open {
    display: flex;
    opacity: 1;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffcf3; /* Hintergrundfarbe des Menüs */
    width: 100%;
    height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: -168px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  height: 92px;
  margin: 0 auto;
  margin-top: -20px;

  a {
    text-decoration: none;
    color: black;
  }

  .menu-links {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .link-container {
    position: relative;
  }

  h2 {
    font-size: 96px;
    line-height: 96px;
    font-weight: 700;
    font-family: syne;
    color: #000000;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .animation-container {
    position: absolute;
    top: 83%;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .animation-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7%;
    border-bottom: 4px solid #000000;
    transition: left 0.3s ease, width 0.3s ease;
  }

  .animation-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    border-left: 4px solid #000000;
    transition: opacity 0.3s ease;
  }

  h2:hover + .animation-container .animation-bar {
    opacity: 0;
  }

  h2:hover + .animation-container .animation-line {
    left: calc(100% - 20%);
    width: 40%;
  }
}

.contact {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 100vw;
  margin: 0 auto;
  z-index: 1;
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
    z-index: -1;
  }

  h3 {
    font-family: syne;
    font-size: 78px;
    line-height: 78px;
    font-weight: 800;
    margin-left: 104px;
    margin-bottom: 32px;
    color: white;
    z-index: 1;

    &:hover {
      color: #00bc8f;
    }
  }
}

.mail-icons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  .mail {
    a {
      text-decoration: none;
      font-family: overpass;
      font-size: 23px;
      line-height: 23px;
      font-weight: 300;
      margin-left: 104px;
      margin-bottom: 32px;
      color: white;
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-right: 104px;

    .icon {
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-15px);
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (max-width: 1260px) {
  .menu {
    margin-top: 10px;

    h2 {
      font-size: 80px;
      line-height: 80px;
      width: 100%;
    }

    .animation-container {
      height: 40px;
      left: 0%;
    }
  }
}

@media (max-width: 930px) {
  .menu {
    h2 {
      font-size: 72px;
      line-height: 80px;
      width: 100%;
    }

    .animation-container {
      height: 30px;
      left: 0%;
    }
  }

  .contact {
    h3 {
      font-size: 48px;
      line-height: 48px;
      margin-left: 32px;
    }

    .mail {
      a {
        font-size: 16px;
        line-height: 16px;
        margin-left: 32px;
      }
    }
  }
}

@media (max-width: 840px) {
  .menu {
    margin-top: 100px;

    h2 {
      font-size: 64px;
      line-height: 64px;
      margin-top: 64px;
    }

    .animation-container {
      height: 25px;
      left: 0%;
    }
  }

  .contact {
    h3 {
      font-size: 32px;
      line-height: 32px;
      margin-left: 16px;
      margin-bottom: 16px;
    }

    .mail-icons {
      margin-bottom: 16px;

      .mail {
        a {
          font-size: 12px;
          line-height: 12px;
          margin-left: 16px;
        }
      }

      .icons {
        margin-right: 16px;
      }
    }
  }
}

@media (max-width: 740px) {
  .menu {
    h2 {
      font-size: 48px;
      line-height: 48px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

@media (max-width: 600px) {
  .menu {
    margin-top: 100px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .animation-container {
      height: 20px;
    }
  }
}

@media (max-width: 470px) {
  .contact {
    .mail-icons {
      .icons {
        display: none;
      }
    }
  }
}

@media (max-width: 385px) {
  .menu {
    h2 {
      font-size: 32px;
      line-height: 32px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .animation-container {
      height: 15px;
      left: -10%;
    }
  }
}

@media (max-width: 350px) {
  .menu {
    h2 {
      font-size: 24px;
      line-height: 24px;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .animation-container {
      left: -10%;
    }
  }
}