<div class="about-me">
    <h2>About me</h2>
    <p>I am a Front-end deverloper from bad Bodenteich, Germany. I help designers and companiens to bring their ideas to real life. Creativity and logical thinking are skills that I have developed to connect ideas into quality products.</p>
    <p>If you think I'd de a good match for your projects, contact me!</p>
    <div class="location">
        <img src="./../../../assets/about_me/house.png" alt=""><p>Based in Bad Bodenteich</p>
    </div>
    <div class="work-preference">
        <img src="./../../../assets/about_me/laptop.png" alt=""><p>Open to work Remote</p>
    </div>
    <div class="button-lets-talk">
        <button>Let´s talk</button>
    </div>
    
</div>

<div class="self-img">
    <img src="./../../../assets/about_me/avatar-placeholder.png" alt="placeholder avatar">
</div>