<div class="about-me">
    <div class="left">
        <h2>About me</h2>
        <p>I am a Front-end developer from Bad Bodenteich, Germany. I help designers and companies to bring their ideas to real life. Creativity and logical thinking are skills that I have developed to connect ideas into quality products.</p>
        <p>If you think I'd be a good match for your projects, contact me!</p>
        <div class="location">
            <img src="./../../../assets/about_me/house.png" alt=""><p>Based in Bad Bodenteich</p>
        </div>
        <div class="work-preference">
            <img src="./../../../assets/about_me/laptop.png" alt=""><p>Open to work Remote</p>
        </div>
        <div class="button-lets-talk">
            <button>Let's talk</button>
        </div>
    </div>
    <div class="right">
        <div class="self-img">
            <img src="./../../../assets/about_me/avatar-placeholder-min.png" alt="placeholder avatar">
        </div>
    </div>
</div>

