<div class="about-me">
    <div id="aboutme" class="left">
        <h2>{{ 'ABOUT_ME' | translate }}</h2>
        <span>{{ 'INTRODUCE_MYSELF' | translate}}</span>
        <span>{{'GOOD_MATCH' | translate}}</span>
        <div class="location">
            <img src="assets/about_me/house.png" alt=""><span>{{ 'BASED_IN' | translate }}</span>
        </div>
        <div class="work-preference">
            <img src="assets/about_me/laptop.png" alt=""><span>{{ 'OPEN_TO_WORK' | translate }}</span>
        </div>
        <div class="button-lets-talk">
            <button (click)="goToContact()">{{ 'LETS_TALK' | translate }}</button>
        </div>
    </div>
    <div class="right">
        <div class="self-img">
            <img src="assets/about_me/avatar-placeholder-min.png" alt="placeholder avatar">
            <div class="border-img">
                <img src="assets/about_me/border_aboutme.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="arrow-bottom-left">
    <a href="#skills"><img src="assets/img/bottomLeft.png" alt="arrow-bottom-left"></a>
</div>