.privacy {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 48px;
    .privacy-position {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        font-family: syne;
        font-size: 72px;
        font-weight: 800;
    }
    h2 {
        font-family: syne;
        font-size: 48px;
        font-weight: 800;
    }
    h3 {
        font-family: syne;
        font-size: 32px;
        font-weight: 800;
    }
    h4 {
        font-family: syne;
        font-size: 24px;
        font-weight: 800;
    }
    p {
        font-family: overpass;
        font-size: 24px;
        font-weight: 400;
    }
    a {
        text-decoration: none;
    }
}

.bottom {
    position: relative; // Verwendet relative Positionierung
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    z-index: 1;
    overflow-x: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      clip-path: polygon(0 0, 0 0, 100% 18%, 100% 100%, 0 100%);
      z-index: -1;
    }
  }

@media (max-width: 850px) {
    .privacy {
        padding: 24px;
        h1 {
            font-size: 48px;
        }
        h2 {
            font-size: 32px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 18px;
        }
        p {
            font-size: 18px;
        }
    }
}

@media (max-width: 575px) {
    .privacy {
        padding: 16px;
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 18px;
        }
        h4 {
            font-size: 16px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 375px) {
    .privacy {
        padding: 8px;
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 16px;
        }
        h4 {
            font-size: 14px;
        }
        p {
            font-size: 14px;
        }
    }
}