<div class="reference">
    <h2>References</h2>
    <p>{{'WORK'| translate}}.</p>
    <div class="references">
        <div class="reference-card">
            <img src="assets/reference/icon.png" alt="icon"> <!-- ./../../../ -->
            <h4>S. Zager</h4>
            <span>Team Partner</span>
            <p>"{{'REF_1' | translate}}"</p>
        </div>
        <div class="reference-card">
            <img src="assets/reference/icon.png" alt="icon"> <!-- ./../../../ -->
            <h4>S. Zager</h4>
            <span>Team Partner</span>
            <p>"{{'REF_1' | translate}}"</p>
        </div>
        <div class="reference-card">
            <img src="assets/reference/icon.png" alt="icon"> <!-- ./../../../ -->
            <h4>S. Zager</h4>
            <span>Team Partner</span>
            <p>"{{'REF_1' | translate}}"</p>
        </div>
    </div>
</div>
<div class="arrow-bottom-left">
    <a href="#contact"><img src="assets/img/bottomLeft.png" alt="arrow-bottom-left"></a> <!-- ./../../../ -->
</div>
