<div class="reference">
    <h2>References</h2>
    <p>I thrive both independently and as part of a team. Here's what my colleagues have to say about working with me.</p>
    <div class="references">
        <div class="reference-card">
            <img src="./../../../assets/reference/icon.png" alt="icon">
            <h4>S. Zager</h4>
            <span>Team Partner</span>
            <p>"Johannes is a great team player. He is always willing to help out and is a great problem solver."</p>
        </div>
        <div class="reference-card">
            <img src="./../../../assets/reference/icon.png" alt="icon">
            <h4>S. Zager</h4>
            <span>Team Partner</span>
            <p>"Johannes is a great team player. He is always willing to help out and is a great problem solver."</p>
        </div>
        <div class="reference-card">
            <img src="./../../../assets/reference/icon.png" alt="icon">
            <h4>S. Zager</h4>
            <span>Team Partner</span>
            <p>"Johannes is a great team player. He is always willing to help out and is a great problem solver."</p>
        </div>
    </div>
</div>
<div class="arrow-bottom-left">
    <a href="#contact"><img src="./../../../assets/img/bottomLeft.png" alt="arrow-bottom-left"></a>
</div>
