<div id="skills" class="my-skills">
  <h2>My skills</h2>
  <div class="icon-container">
    <div class="icon">
      <img src="assets/my_skills/angular.png" alt="angular" />
      <!-- ./../../../ -->
      <span>Angular</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/typescript.png" alt="typescript" />
      <!-- ./../../../ -->
      <span>Typescript</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/javascript.png" alt="javascript" />
      <!-- ./../../../ -->
      <span>Javascript</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/html.png" alt="html" />
      <!-- ./../../../ -->
      <span>HTML</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/css.png" alt="css" />
      <!-- ./../../../ -->
      <span>CSS</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/firebase.png" alt="firebase" />
      <!-- ./../../../ -->
      <span>Firebase</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/git.png" alt="git" />
      <!-- ./../../../ -->
      <span>Git</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/scrum.png" alt="scrum" />
      <!-- ./../../../ -->
      <span>Scrum</span>
    </div>
    <div class="icon">
      <img src="assets/my_skills/restapi.png" alt="rest-api" />
      <!-- ./../../../ -->
      <span>REST API</span>
    </div>
    <div class="icon last-icon">
      <img src="assets/my_skills/materialdesign.png" alt="material-design" />
      <!-- ./../../../ -->
      <span>Material Design</span>
    </div>
  </div>
  <div class="skill-information">
    <img src="assets/my_skills/box.png" alt="out-of-the-box" />
    <!-- ./../../../ -->
    <span
      >Don't see the skill you need? <a href="#contact">Contact me </a>I'm
      always ready to learn!</span
    >
  </div>
</div>
<div class="arrow-bottom-right">
  <a href="#portfolio"
    ><img src="assets/img/bottomRight.png" alt="arrow-bottom-right"
  /></a>
  <!-- ./../../../ -->
</div>
