.footer {
    background-color: black;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legal-notice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    margin-bottom: 21px;
    a {
        font-family: overpass;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-decoration: none;
        color: #FFFcF3;
    }
}