<div class="footer">
  <div class="logo-icons">
    <div class="logo-user">
      <a href="#landingpage"><img src="assets/footer/logo-footer.png" alt="logo-footer"></a>
    </div>
    <div class="social-icons">
      <a href="https://github.com/JLinnecke?tab=repositories" target="_blank"><img src="assets/footer/git.png"
          alt="git hub"></a>
      <a href="#contact"><img src="assets/footer/mail.png" alt="mail"></a>
      <a href="https://www.linkedin.com/in/johannes-linnecke-b92251337/" target="_blank"><img
          src="assets/footer/linkedin.png" alt="linkedin"></a>
    </div>
  </div>
  <div class="information">
    <div class="creator">
      <span>&copy; Johannes Linnecke 2024</span>
    </div>
    <div class="legal-notice">
      <a [routerLink]="['/imprint']">Legal notice</a>
    </div>
  </div>
</div>



<!-- <div class="socials">
      
      
    </div>  -->