<div class="portfolio">
    <h2>Portfolio</h2>
    <p>Explore a selection of my work here - Interact with
        projects to see my skills in action.
    </p>
    <div class="join">
        <div class="img-join">
            <img class="project-img" src="./../../../assets/portfolio/join-min.png" alt="join-project">
            <img class="border-join" src="./../../../assets/portfolio/border.png" alt="border">
            <img class="circle-arrow-down" src="./../../../assets/portfolio/circle_arrow_down.png" alt="circle-arrow-down">
            <img class="circle-arrow-top-right" src="./../../../assets/portfolio/circle_arrow_top_right.png" alt="circle-arrow-top-right">
        </div>
        <div class="description-join">
            <h3>01/02</h3>
            <div class="details-join">
                <h4>JOIN</h4>
                <span>Javascript | HTML | CSS | Firebase</span>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assig users and categories.</p>
                <button (click)="openLink('https://github.com/JLinnecke/join')">Github</button>
            </div>
        </div>
    </div>
    <div class="el-pollo-loco">
        <div class="description-pollo">
            <h3>02/02</h3>
            <div class="details-pollo">
                <h4>El Pollo Loco</h4>
                <span>HTML | CSS | Javascript</span>
                <p>Responsive website for a fast food restaurant. The website includes a menu, contact form and a location map.</p>
                <button>Github</button>
            </div>
        </div>
        <div class="img-pollo">
            <img class="project-img" src="./../../../assets/portfolio/elpolloloco-min.png" alt="el-pollo-loco-project">
            <img class="border-pollo" src="./../../../assets/portfolio/border.png" alt="border">
            <img class="circle-arrow-down" src="./../../../assets/portfolio/circle_arrow_down.png" alt="circle-arrow-down">
            <img class="circle-arrow-top-right" src="./../../../assets/portfolio/circle_arrow_top_right.png" alt="circle-arrow-top-right">
        </div>
    </div>
</div>
