.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2{
      font-family: syne;
      font-size: 78px;
      font-weight: 800;
      line-height: 78px;
      text-align: center;
      margin-bottom: 0;
      width: 538px;
      &:hover {
          color: #00bc8f;
      }
  }

  p {
      font-family: overpass;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      width: 525px;
  }
}

//////////////////////////////////////////////////////////////////////

.join {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    .img-join {
      position: relative; /* Setzt den Container in den relativen Modus */
      z-index: 2; /* Stellt sicher, dass das Bild über dem description-join Container liegt */
  
      .project-img {
        max-width: 620px;
        max-height: 339px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
        filter: saturate(0%);
        transition: filter 0.3s ease-in; /* Übergang für den Filter */
      }
  
      .border-join {
        position: absolute; /* Setzt das Bild in den absoluten Modus */
        top: 30px;
        left: 20px;
        width: 100%;
        max-width: 620px;
        max-height: 339px; /* Passt die Breite des Bildes an den Container an */
        height: 100%; /* Passt die Höhe des Bildes an den Container an */
        pointer-events: none; /* Verhindert, dass das Bild anklickbar ist */
        opacity: 0; /* Initiale Sichtbarkeit auf 0 setzen */
        transition: opacity 0.3s ease-in; /* Übergang für die Sichtbarkeit */
      }
  
      .circle-arrow-down,
      .circle-arrow-top-right {
        position: absolute; /* Setzt die Bilder in den absoluten Modus */
        left: 570px; /* Positioniert die Bilder rechts im Container */
        top: 40%; /* Positioniert das Bild weiter oben */
        transform: translate(50%, -50%); /* Verschiebt die Bilder um die Hälfte ihrer Breite nach rechts und um die Hälfte ihrer Höhe nach oben */
        opacity: 0;
        transition: opacity 0.3s ease-in, transform 0.3s ease-in-out; /* Übergang für die Sichtbarkeit und Position */
      }
  
      .circle-arrow-down {
        transition-delay: 0s;
      }
  
      .circle-arrow-top-right {
        transition-delay: 0.1s;
      }
    }
  
   
  
    .details-join {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      opacity: 1;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      
      h4 {
        font-family: syne;
        font-size: 36px;
        line-height: 36px;
        font-weight: 800;
      }
      span {
        font-family: overpass;
        font-size: 18px;
        line-height: 18px;
        color: #00bc8f;
      }
      p {
        font-family: overpass;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
  
  .el-pollo-loco {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 118px;
    h3 {
      font-family: syne;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;
      text-align: left;
      margin-bottom: 0;
    }
    .details-pollo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      opacity: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in, opacity 0.5s ease-in;
      h4 {
        font-family: syne;
        font-weight: 800;
        font-size: 38px;
        line-height: 38px;
        text-align: left;
        color: #000000;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      span {
        font-family: overpass;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        text-align: left;
        color: #00bc8f;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      p {
        font-family: overpass;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        text-align: left;
        color: #000000;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      button {
        border: 4px solid black;
        background-color: transparent;
        padding: 20px 60px;
        font-family: overpass;
        font-size: 23px;
        font-weight: 400;
        transition: width 0.9s ease, font-weight 0.3s ease;
        &:hover {
          width: 50%;
          font-weight: 700;
          border: 6px solid black;
        }
      }
    }
    
    .img-pollo {
      position: relative; /* Setzt den Container in den relativen Modus */
      width: fit-content; /* Passt die Breite des Containers an den Inhalt an */
    }
    .project-img {
      width: 620px;
      height: 339px;
      padding-top: 50px;
      display: block;
      filter: saturate(0%);
      transition: filter 0.3s ease-in; /* Übergang für den Filter */
    }
    .border-pollo {
      position: absolute; /* Setzt das Bild in den absoluten Modus */
      top: 70px;
      right: 20px;
      width: 100%;
      max-width: 620px;
      max-height: 339px; /* Passt die Breite des Bildes an den Container an */
      height: 100%; /* Passt die Höhe des Bildes an den Container an */
      pointer-events: none; /* Verhindert, dass das Bild anklickbar ist */
      opacity: 0;
      transition: opacity 0.3s ease-in; /* Übergang für die Sichtbarkeit */
    }
    .circle-arrow-down,
    .circle-arrow-top-right {
      position: absolute; /* Setzt die Bilder in den absoluten Modus */
      left: -85px; /* Positioniert die Bilder rechts im Container */
      transform: translate(50%, -50%); /* Verschiebt die Bilder um die Hälfte ihrer Breite nach rechts und um die Hälfte ihrer Höhe nach oben */
      opacity: 0;
      transition: opacity 0.3s ease-in, transform 0.3s ease-in-out; /* Übergang für die Sichtbarkeit und Position */
    }
    .circle-arrow-down {
      top: 40%; /* Positioniert das Bild weiter oben */
      transition-delay: 0s;
    }
    .circle-arrow-top-right {
      top: 40%; /* Positioniert das Bild weiter oben */
      transition-delay: 0.1s;
    }
  }