<div [ngClass]="{'de-language': currentLanguage === 'de'}" class="portfolio">
  <h2 id="portfolio">Portfolio</h2>
  <p>{{'EXPLORE' | translate}}
  </p>
  <div class="join">
      <div class="img-join">
        <img class="project-img" src="assets/portfolio/join-min.png" alt="join-project">
          <div class="border-img">
            <img (click)="openLink('https://www.join.johannes-linnecke.net/')" class="border-join" src="assets/portfolio/border.png" alt="border">
            <img class="circle-arrow-down" src="assets/portfolio/circle_arrow_down.png" alt="circle-arrow-down">
            <img class="circle-arrow-top-right" src="assets/portfolio/circle_arrow_top_right.png" alt="circle-arrow-top-right" style="cursor: pointer;">
          </div>
      </div>
      <div class="description-join">
          <h3>01/02</h3>
          <div [ngClass]="{'de-language': currentLanguage === 'de'}" class="details-join">
              <h4>JOIN</h4>
              <span>JavaScript | HTML | CSS | Firebase</span>
              <p>{{'JOIN' | translate}}</p>
              <button (click)="openLink('https://github.com/JLinnecke/join')">Github</button>
          </div>
      </div>
  </div>
    <div class="el-pollo-loco">
      <div class="description-pollo">
        <h3>02/02</h3>
        <div [ngClass]="{'de-language': currentLanguage === 'de'}" class="details-pollo">
          <h4>El Pollo Loco</h4>
          <span>HTML | CSS | JavaScript</span>
          <p>{{'POLLO' | translate}}</p>
          <button (click)="openLink('https://github.com/JLinnecke/el-pollo-loco')">Github</button>
        </div>
      </div>
      <div class="img-pollo">
        <img class="project-img" src="assets/portfolio/elpolloloco-min.png" alt="el-pollo-loco-project">
        <div class="border-img"> 
          <img (click)="openLink('https://el-pollo-loco.johannes-linnecke.net/')" class="border-pollo" src="assets/portfolio/border.png" alt="border">
          <img class="circle-arrow-down" src="assets/portfolio/circle_arrow_down.png" alt="circle-arrow-down">
          <img class="circle-arrow-top-right" src="assets/portfolio/circle_arrow_top_right.png" alt="circle-arrow-top-right">
        </div>
      </div>
    </div>
  </div>